<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" class="header mat-elevation-z5">
  <div style="padding-top: 10px;"><mat-icon>dialpad</mat-icon></div><span> Brain Wave</span>
</mat-toolbar>
<mat-toolbar color="primary" class="desc">
    <mat-toolbar-row>
        <span class="mat-body">Fullstack app to display list of archived stock.</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-body">
        <span>On the home page you can check a list of top performing stock and below it remaining stock, Use the text box to search for search for stocks</span>
    </mat-toolbar-row>
    <mat-toolbar-row class="mat-body">
        <span>Click on the card to view stock history.</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="main-container">
  <router-outlet></router-outlet>
</div>
